API_KEY=your_api_key_here
SECRET_KEY=your_secret_key_here
PUBLIC_KEY=your_public_key_here

WEB_API_KEY=your_web_api_key_here
ANDROID_API_KEY=your_android_api_key_here

PAYMENT_KEY=https://accept.paymob.com/api/acceptance/iframes/
BASE_URL=https://api.yourdomain.com
